<div class="container">
  <header class="jumbotron text-white jumbotron " style="background-image: url(/images/pat.jpg)">
  <div class="display-2 mb-4">About Us</div>
  <p class="lead">We are passion photographer and web developer. Decided to mix our passions into one usefull web site!</p>
</div>
