<div class="container mt-1 mb-2 justify-center">
  <div class="row">
    <div class="col-md-12">
      <section class="card">
        <img class="card-img img-fluid" src="images/About.jpg">
        <div class="card-img-overlay">
          <h2 class="card-title">About Us</h2>
            <h4 class="card-text">We, passion photographer and web developer, decided to mix our passions into one usefull web site!</h4>
              
        </div>
      </section>
    </div>
  </div>
</div>